# ============================================================
# olga-designer/.env.mysql — Configuration MySQL (Olga)
# Copier ce fichier en .env.mysql et remplir les valeurs
# ⚠️ Ces valeurs doivent correspondre à olga-designer/.env.back
# ============================================================

MYSQL_ROOT_PASSWORD=root_password_a_choisir
MYSQL_DATABASE=olga
MYSQL_USER=olga_user
MYSQL_PASSWORD=mot_de_passe_mysql_a_choisir
